body{
    /* background-color: rgba(56, 218, 120, 0.973); */
    
background-color: l;

background: rgb(1,107,232);
background: linear-gradient(90deg, rgba(1,107,232,1) 0%, rgba(0,255,238,1) 52%, rgba(0,100,255,1) 100%);
}

.center{
    text-align: center;
}
.WeatherForm{
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
.button{
    background: teal;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#submitBtn{
    color: black;
    border-style: outset;
}

#map{
    
    margin: auto;
    width: 80%;
    height: 600px;
}









